/* src/components/Dashboard.css */
@import url(../styles.css);

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-color: var(--background-color-light);
}

.invoice-form-container,
.lists-container {
  width: 100%;
  margin-bottom: 20px;
}

.invoice-form,
.generated-list-container,
.received-list-container {
  background: var(--background-color-light);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.generated-list-container,
.received-list-container {
  margin-top: 20px;
}

.paddingRemove {
  padding: 0;
}
