/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.6); /* Frosted glass effect */
  backdrop-filter: blur(9px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted glass effect for Safari */
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensures it stays on top of other content */
  border-radius: 60px;
}

.navbar-logo {
  height: 60px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: smaller;
  font-weight: 200;
}

.nav-link {
  color: rgb(216, 214, 214);
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-link.active {
  font-weight: 600;
  color: #ffffff; /* Active link color */
}

.nav-link:hover {
  color: #ffffff; /* Hover color */
  text-decoration: underline;
}

.w-100 {
  width: 100%;
}
