/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
}

.navbar-logo {
  height: 50px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  padding-right: 75px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.sign-out-link {
  cursor: pointer;
}

.toggle-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
}

.toggle-theme-btn .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  transition: transform 0.3s;
}

body.light .toggle-theme-btn .icon {
  transform: translateX(0);
}

body.dark .toggle-theme-btn .icon {
  transform: translateX(25px);
}
