/* Overlay Styles */
.received-invoice-details-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px); /* Apply blur to background */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.received-invoice-details-overlay.open {
  opacity: 1;
  pointer-events: auto;
  padding-top: 75px;
}

.received-invoice-details-content {
  background: #111111; /* Dark background color */
  color: #f5f5f5; /* Light text color */
  padding: 20px;
  border-radius: 8px 0 0 8px;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto; /* Make the overlay scrollable */
  font-size: smaller;
  font-weight: 100;
}

.received-invoice-details-overlay.open .received-invoice-details-content {
  transform: translateX(0);
}

.received-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border: none;
  background: transparent;
  color: #f5f5f5;
}

/* Details Container */
.details-section {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-weight: 100;
  line-height: 1 rem;
}

.details-column {
  margin-bottom: 20px;
  flex: 1; /* Make details containers flexible */
  font-size: medium;
  font-weight: 200;
}

.details-column h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.details-column p {
  margin-bottom: 10px;
  color: #f5f5f5;
}

/* Table Styles */
/* table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 0.5px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #333333;
  color: #f5f5f5;
}

table tr:nth-child(even) {
  background-color: #222222;
}

table tbody tr:hover {
  background-color: #333333;
} */

/* Grand Total */
.grand-total {
  text-align: right;
  font-size: medium;
  font-weight: medium;
}

.grand-total h3 {
  margin: 5px 0;
}

/* Button Styles */
.button-container {
  display: flex;
  gap: 10px; /* Add gap between buttons */
}

button {
  background-color: #03dac6;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #03a996;
}

/* Error Messages */
.error {
  color: red;
  font-weight: bold;
}
