@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "General-sans", sans-serif;
  background-color: #111111; /* Dark mode background color */
  color: #f5f5f5; /* Light text color for dark mode */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.navbar {
  background-color: #333333; /* Dark mode navbar background color */
  color: #f5f5f5; /* Light text color for navbar */
}

.nav-link {
  color: #f5f5f5;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 500; /* Medium font weight for active link */
  text-decoration: none; /* Remove underline */
}

.border {
  border: 1px solid #444444; /* Border color for dark mode */
}

.rounded-2 {
  border-radius: 8px;
}

.p-2,
.p-3,
.p-4 {
  padding: 0.5rem;
}

/* .table {
  background-color: #222222; 
  color: #f5f5f5; 
  border-radius: 5px;
}

.table th,
.table td {
  border: 1px solid #444444; 
  border-radius: 5px;
} */

textarea,
input[type="number"],
input[type="text"],
input[type="email"],
select {
  background-color: #222222; /* Dark mode input background color */
  color: #f5f5f5; /* Light text color for input */
  border: 1px solid #444444; /* Dark mode border color for input */
}

button {
  background-color: #03dac6; /* Dark mode button background color */
  color: #f5f5f5; /* Light text color for button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #03a996; /* Dark mode button hover color */
}

::placeholder {
  font-family: "Merriweather", serif; /* Slab serif font for placeholders */
  font-weight: 100;
  font-size: smaller;
}
