/* Link to Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@400;600&display=swap");

/* Define variables for light and dark themes */
:root {
  --background-color-light: #f8f9fa;
  --text-color-light: #343a40;
  --navbar-color-light: #007bff;

  --background-color-dark: #111111;
  --text-color-dark: #f8f9fa;
  --navbar-color-dark: #333333;
}

body {
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 60px;
  width: 100%;
  position: relative;
}

body.light .navbar {
  background-color: var(--navbar-color-light);
  color: var(--text-color-light);
}

body.dark .navbar {
  background-color: var(--navbar-color-dark);
  color: var(--text-color-dark);
}

.navbar-logo {
  height: 40px;
  margin-right: auto;
  margin-left: 25px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 600; /* Medium font weight */
  text-decoration: none; /* Remove underline */
}

.toggle-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 20px;
}

.toggle-theme-btn .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  transition: transform 0.3s;
}

body.light .toggle-theme-btn .icon {
  transform: translateX(0);
  background-color: #000;
}

body.dark .toggle-theme-btn .icon {
  transform: translateX(25px);
  background-color: #fff;
}
